* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    height: 45px;
    width: 100%;
    background-color: rgb(243, 243, 243);
    opacity: 0.7;
    position: fixed;
    top: 0;
    z-index: 10;
    /* overflow: hidden; */
}

header h1 {
    display: inline;
    font-size: 24px;
    line-height: 45px;
    /* float: left; */
    padding: 10px 24px;
    text-transform: uppercase;

}

header h1 a:hover {
    color: rgba(255, 0, 85, 0.89);
}

header h1 a {
    transition: .3s;
}

header .header-right {
    float: right;
    transition: 0.3s;
    /* display: block; */
    padding: 0px 6px;
    font-size: 20px;
    line-height: 45px;
    font-weight: bold;
    box-sizing: border-box;
    /* border-top: 4px solid green;
    border-bottom: 4px solid green; */
}

header .header-right:hover {
    background-color: #1ad2eb;
}

header a:hover {
    color: rgba(255, 0, 85, 0.89);
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container:after {
    clear: both;
    display: block;
    content: '';
}

.mobile-menu {
    float: right;
    display: none;
    margin-top: 5px;
    cursor: pointer;
    transition: 2s;
}

#check {
    display: none;
}

.sidebar {
    position: fixed;
    top: 45px;
    bottom: 0;
    right: -300px;
    width: 200px;
    background-color: rgba(16, 47, 80, 0.9);
    transition: .3s;
    z-index: 100;
    display: none;
}

.sidebar ul li {
    padding: 24px;
    list-style: none;
}

.sidebar ul li:hover {
    background-color: rgba(255, 0, 85, 0.89);
    transition: .3s;
    cursor: pointer;
}

.sidebar ul li a {
    color: #fff;
}

/* menampilkan sidebar jika klik .mobile-menu*/
#check:checked~.sidebar {
    right: 0;
}

section {
    padding: 50px 0;
}

.banner {
    margin-top: 45px;
    background-color: #23a0b1;
}

.banner img {
    height: 180px;
    border-radius: 10px;
    box-shadow: 0 3px 5px #ddd;
    margin-bottom: 10px;

}

.banner h2,
.banner p {
    color: white;
}

.banner h2 {
    margin-bottom: 10px;
}

.banner p {
    font-size: 18px;
}

.banner-center {
    text-align: center;
}

section h3 {
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

section h3::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 10px;
    width: 40px;
    height: 2px;
    background-color: red;
    left: calc(50% - 20px);
}

#about p {
    text-align: justify;
    text-indent: 20px;
    line-height: 25px;
    margin-bottom: 15px;
}

#skills,
#contact {
    background-color: #f9f9f9;
}

#skills .bar {
    height: 30px;
    margin: 5px 0 20px 0;
}

.bar .nilai {
    height: 30px;
    background-color: rgb(212, 50, 50);
    display: inline-block;
    color: cornsilk;

}

.bar .nilai p {
    text-align: center;
    margin: 5px 0;
}

.html {
    width: 90%;
}

.css {
    width: 85%;
}

.js {
    width: 80%;
}

.py {
    width: 70%;
}

.php {
    width: 85%;
}

.col-4 {
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    text-align: center;
    margin-bottom: 15px;
}

.col-4 span {
    color: rgb(68, 56, 56);
}

.col-4 img {
    width: 100%;
}

.col-4 a img {
    border-radius: 5px;
    transition: 0.5s;
}

.col-4 a img:hover {
    transform: scale(.9);
}

.col-4 a img:active {
    box-shadow: 0px 0px 10px black;
}

.col-3 {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding: 50px 10px;
}

.col-3 h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(185, 185, 185);
    margin-bottom: 15px;
}

footer {
    background-color: #333;
    padding: 50px;
    text-align: center;
}

footer small {
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

/* Ukuran Tablet */
@media screen and (max-width: 768px) {
    /* .mobile-menu {
        display: block;
    } */

    .sidebar {
        display: block;
    }

    header h1 {
        font-size: 18px;
    }

    header .header-right {
        font-size: 14px;
        padding: 0 4px;
    }

    .col-4 {
        width: 50%;
    }

    .col-3 {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .mobile-menu {
        display: block;
    }

    .sidebar {
        display: block;
    }

    header .header-right {
        display: none;
    }

    .col-4 {
        width: 100%;
    }

    .col-3 {
        width: 100%;
    }
}